:root{
    --primary-color:#009091;
    --light:#E6E6E6;
    --dark:#1F1F1F;
    --text-color:#878787;
}
.mt-90{
    margin-top:90px;
}

h1,h2,h3{
    font-family:'Poppins';
    font-weight:bolder;
    text-transform: uppercase;
}
h1>span{
    color:var(--primary-color);
}
span{
    font-size:24px;
}
h1{
    font-size:48px;  
}
h2{
    font-size:24px;  
}
h3{
    font-size:16px;
    color:var(--text-color);
    letter-spacing: 10px;
}
p{
    font-family: 'Mulish';
    font-size:18px;
    color:var(--text-color);
}
.top-nav{
    height:10vh;
}
.nav .icon{
    font-size:24px;
}

.profile-image>img{
    width:100%;
    position: absolute;
    top:-50px;
}

/* social links */
.social-round{
    height:50px;
    width:50px;
    border:4px solid var(--text-color);
    border-radius:50%; 
    position: relative;
    margin-right:10px;
}
.social-icons{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:24px;
}

.fields{
    background: var(--light);
}
.field-card{
    width:100%;
    /* height:60vh; */
    background:white;
    margin-top:30px;
    margin-bottom:90px;

}
.field-icon>img{
    display: block;
    margin:0 auto;
    padding-top:60px;
}


.project-image>img{
    margin-top:30px;
    width:100%;
}


/* qualification */
.left-line{
    height:100%;
    border-left:2px solid black;
}

.edu-icon{
    width: 45px;
    height: 45px;
    border-radius:50%;
    background: var(--primary-color);
    position: relative;
}
.edu-icon .icon{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.edu-icon .icon>i{
    color:white;
}
.content{
    width:100%;
    background:var(--light);
    border-radius:10px;
}
.content>p{
    padding:20px;
}

.skill-icon>i{
    font-size:40px;
    margin:10px 20px 10px 0px;
}

/* achievements */
.achievements{
    background: var(--light);
}
.achievement-slider{
    padding-top:30px;
    padding-bottom:90px;
}
.achievement-image>img{
    height:200px;
    width:300px;
}


.blog-image>img{
    width:100%;
    border:2px solid black;
}
.blog-tag{
    position: absolute;
    top:40px;
    left:-5px;
}
.blog-tag-text{
    position:absolute;
    top:0;
    color:white;
    left:20px;
    font-weight: bold;
}
/* footer */

footer{
    background: var(--dark);
}
.footer{
    background: var(--dark);
}
.message{
    width:100%;
    height:200px;
    border:2px solid var(--primary-color);
}
.form-group>input{
    margin:0 20px;
    width:90%;
}
.message-btn{
    background:var(--primary-color);
    margin:10px 20px;
    padding:5px 20px;
    border:none;
    border-radius:5px;
}

.footer p{
    color:#fff;
}
.footer-icon{
    border:2px solid white;
    height:50px;
    width:50px;
    border-radius:50%;
    position: relative;
    margin-right:10px;
}
.footer-icon .icon{
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:24px;
}
.contact-us p>span{
    color:var(--primary-color);
    font-size:16px;
    width:10%;
}
.footer h1>span{
    color:var(--primary-color);
    font-size: 48px;;
}

@media only screen and (max-width:800px){
    .profile-image>img{
        position: relative;
        height:550px;
        width:400px;
        padding-top:50px;
        display:block;
        margin:0 auto;
    }
    .fields{
        margin-top:20px;
    }
}
